In [65]:
import pandas as pd
import numpy as np

In [72]:
prod = pd.read_csv('data/prod_with_pop_with_food.csv')
prod.drop("Unnamed: 0", axis=1, inplace=True)

In [73]:
prod = prod[~prod['Item'].isin(['Sweeteners, Other', 'Sugar & Sweeteners', 'Sesame seed', 'Coffee and products', 'Cocoa Beans and products', 'Tea (including mate)', 'Pepper', 'Spices, Other', 'Wine', 'Beer', 'Beverages, Alcoholic', 'Oilcrops', 'Infant food', 'Beverages, Fermented'])]
prod = prod[~prod['Item'].isin(['Stimulants', 'Spices', 'Alcoholic Beverages', "Oilcrops, Other", 'Rape and Mustardseed', 'Cottonseed', 'Sugar non-centrifugal', 'Palm kernels', 'Cloves', 'Sunflower seed'])]

In [74]:
prod.drop([x for x in prod.columns if x.__contains__("Y") and x != "Y2013"], axis=1, inplace=True)
prod = prod[prod['Element'] != 'Feed']
prod.drop(["Element Code", "Element"], axis=1, inplace=True)

In [75]:
prod.loc[prod['Item'].str.contains("Oil"), 'Item'] = "Oil"

In [76]:
dict1 = { col : "first" for col in prod.columns if col != "Y2013"}
dict1['Y2013'] = "sum"
prod.groupby(["Area Code", "Item Code"]).agg(dict1)

                       fats  proteins   carbs  fruits_and_veggies  population  \
Area Code Item Code
1         2511       46.975   122.135  43.217               375.8     3064086
          2513       46.975   122.135  43.217               375.8     3064086
          2514       46.975   122.135  43.217               375.8     3064086
          2515       46.975   122.135  43.217               375.8     3064086
          2516       46.975   122.135  43.217               375.8     3064086
...                     ...       ...     ...                 ...         ...
276       2945       43.025   111.865  39.583               344.2    37257113
          2946       43.025   111.865  39.583               344.2    37257113
          2948       43.025   111.865  39.583               344.2    37257113
          2949       43.025   111.865  39.583               344.2    37257113
          2960       43.025   111.865  39.583               344.2    37257113

                    Area Abbreviation  Area Code     Area  Item Code  \
Area Code Item Code
1         2511                    ARM          1  armenia       2511
          2513                    ARM          1  armenia       2513
          2514                    ARM          1  armenia       2514
          2515                    ARM          1  armenia       2515
          2516                    ARM          1  armenia       2516
...                               ...        ...      ...        ...
276       2945                    SDN        276    sudan       2945
          2946                    SDN        276    sudan       2946
          2948                    SDN        276    sudan       2948
          2949                    SDN        276    sudan       2949
          2960                    SDN        276    sudan       2960

                                        Item         Unit  latitude  \
Area Code Item Code
1         2511            Wheat and products  1000 tonnes     40.07
          2513           Barley and products  1000 tonnes     40.07
          2514            Maize and products  1000 tonnes     40.07
          2515              Rye and products  1000 tonnes     40.07
          2516                          Oats  1000 tonnes     40.07
...                                      ...          ...       ...
276       2945                        Offals  1000 tonnes     12.86
          2946                   Animal fats  1000 tonnes     12.86
          2948       Milk - Excluding Butter  1000 tonnes     12.86
          2949                          Eggs  1000 tonnes     12.86
          2960                 Fish, Seafood  1000 tonnes     12.86

                     longitude  Y2013
Area Code Item Code
1         2511           45.04    389
          2513           45.04      0
          2514           45.04      0
          2515           45.04      0
          2516           45.04      1
...                        ...    ...
276       2945           30.22    187
          2946           30.22     37
          2948           30.22   5892
          2949           30.22     38
          2960           30.22     36

[13677 rows x 14 columns]

In [79]:
# transform prod fats to product of fats and population
prod['fats'] = prod['fats'] * prod['population']
prod['proteins'] = prod['proteins'] * prod['population']
prod['carbs'] = prod['carbs'] * prod['population']
prod['fruits_and_veggies'] = prod['fruits_and_veggies'] * prod['population']

In [81]:
prod.to_csv('data/final_prod.csv')

In [77]:
{'Wheat and products': [2.73, 15.1, 71.2, 0],
'Rice (Milled Equivalent)': [3.225,7.065,77.65,0],
'Barley and products': [2.3, 12, 73, 0],
'Maize and products': [4.74,9.42,74.26,0],
'Millet and products': [4.3,11,73,0],
'Cereals, Other': [1.52,11.4,74.4,0],
'Potatoes and products': [0.36,2.27,17.8,0],
'Sugar (Raw Equivalent)': [0.32,0,99.6,0],
'Honey': [0,0.3,82,0],
'Pulses, Other and products': [6,20,61,0],
'Nuts and products': [54,20,21,0],
'Coconuts - Incl Copra': [0,0,0,100],
'Olives (including preserved)': [0,0,0,100],
'Oil': [100,0,0,0],
'Tomatoes and products': [0.42,0.7,3.84,100],
'Vegetables, Other': [0,0,0,100],
'Oranges, Mandarines': [0.15,0.91,11.8,100],
'Citrus, Other': [0.15,0.91,11.8,100],
'Bananas': [0.29,0.74,23,100],
'Apples and products': [0.1,0.1,14.7,100],
'Pineapples and products': [0.21,0.46,14.1,100],
'Dates': [0.4,2.5,75,100],
'Grapes and products (excl wine)': [0.4,0.6,17,100],
'Fruits, Other': [0,0,0,100],
'Bovine Meat': [5.56, 27.7, 0, 0],
'Mutton & Goat Meat': [3, 27, 0, 0],
'Poultry Meat': [3.05, 32.1, 0, 0],
'Meat, Other': [3.87, 28.93, 0, 0],
'Offals, Edible': [6.56, 23.7, 0, 0],
'Butter, Ghee': [81.5, 0,0,0],
'Cream': [35.6, 2, 3.8,0],
'Fats, Animals, Raw': [100,0,0,0],
'Eggs': [9.96, 12.4, 1,0],
'Milk - Excluding Butter': [3.2, 3.27, 4.63, 0],
'Freshwater Fish': [2,20,0,0],
'Cereals - Excluding Beer': [0,0,100,0],
'Starchy Roots': [0,0,100,0],
'Pulses': [6,20,61,0],
'Treenuts': ,
'Vegetables': , 
'Fruits - Excluding Wine': ,
'Meat': [3.87, 28.93, 0, 0],
'Offals': ,
'Animal fats': ,
'Fish, Seafood': ,
'Miscellaneous': ,
'Rye and products': ,
'Oats': ,
'Cassava and products'
'Sweet potatoes': ,
'Roots, Other': ,
'Beans': ,
'Peas': ,
'Soyabeans': ,
'Groundnuts (Shelled Eq)': ,
'Onions': ,
'Lemons, Limes and products': ,
'Grapefruit and products': ,
'Plantains': ,
'Pimento': ,
'Pigmeat': ,
'Demersal Fish'
'Pelagic Fish': ,
'Marine Fish, Other': ,
'Crustaceans': ,
'Cephalopods'
'Molluscs, Other': ,
'Aquatic Animals, Others': ,
'Aquatic Plants': [0,0,0,100],
'Aquatic Products, Other': ,
'Sorghum and products': [3,11,72,0],
'Yams': [0.2,1.5, 28,0],
'Sugar cane': [0,0,73,0],
'Sugar Crops': [0,0,73,0],
'Meat, Aquatic Mammals': ,
'Sugar beet': [0.2, 1.6, 9.6, 0]}

SyntaxError: invalid syntax (3095883681.py, line 39)