In [1]:
import pandas as pd

In [3]:
pop = pd.read_csv('./data/Pop.csv')
prod = pd.read_csv('./data/GlobalFoodProduction.csv')

In [4]:
pop.head()

               x1        x2
0     Afghanistan  31098161
1         Albania   3017282
2         Algeria  38083690
3  American Samoa     53808
4         Andorra     85389

In [5]:
prod.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [7]:
prod.merge(pop, left_on="Area", right_on="x1", how="left")

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,x1,x2
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895,Afghanistan,31098161.0
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,546.0,455.0,490.0,415.0,442.0,476.0,425,422,Afghanistan,31098161.0
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,262.0,263.0,230.0,379.0,315.0,203.0,367,360,Afghanistan,31098161.0
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,44.0,48.0,62.0,55.0,60.0,72.0,78,89,Afghanistan,31098161.0
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,233.0,249.0,247.0,195.0,178.0,191.0,200,200,Afghanistan,31098161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21472,ZWE,181,Zimbabwe,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,-19.02,29.15,...,359.0,356.0,341.0,385.0,418.0,457.0,426,451,Zimbabwe,13107407.0
21473,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5521,Feed,1000 tonnes,-19.02,29.15,...,9.0,6.0,9.0,5.0,15.0,15.0,15,15,Zimbabwe,13107407.0
21474,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5142,Food,1000 tonnes,-19.02,29.15,...,17.0,14.0,15.0,18.0,29.0,40.0,40,40,Zimbabwe,13107407.0
21475,ZWE,181,Zimbabwe,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,-19.02,29.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,Zimbabwe,13107407.0
21476,ZWE,181,Zimbabwe,2928,Miscellaneous,5142,Food,1000 tonnes,-19.02,29.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,Zimbabwe,13107407.0

In [ ]:
prod.to_csv("./data/prod_with_pop.csv")